<main>
    <h1> {{name}} </h1>
    <div style="border: 4px solid maroon; padding: 10px">
        <h2> Quick facts </h2>
        <h3> Birthdate / Birthplace: </h3> <p> <date> {{birthdate}} </date> / {{birthplace}} </p>
        <h3> Deathdate / Deathplace: </h3> <p> <date> {{deathdate}} </date> / {{deathplace}} </p>
        <h3> Nationality: </h3> <p>{{nationality}}</p>
        <h3> Spouses: </h3>  
        <p>
            {{#with partners}}
                {{[0].name}} (<date>{{[0].years}}</date>) / {{[1].name}} (<date>{{[1].years}}</date>)
            {{/with}}
        </p>
    </div>

    <br>

    <div>
        {{#with known_for}}
            <h1> Known for</h1>
            <h2>{{[0]}}</h2>
            <p>
                Einstein first proposed a special theory of relativity in 1905 in his paper “On the Electrodynamics of Moving Bodies,” which took physics in an electrifying new direction. The theory explains that space and time are actually connected, and Einstein called this joint structure space-time.

                By November 1915, Einstein completed the general theory of relativity, which accounted for gravity’s relationship to space-time. Einstein considered this theory the culmination of his life research. He was convinced of the merits of general relativity because it allowed for a more accurate prediction of planetary orbits around the sun, which fell short in Isaac Newton’s theory. It also offered a more expansive, nuanced explanation of how gravitational forces worked.

                Einstein’s assertions were affirmed via observations and measurements by British astronomers Sir Frank Dyson and Sir Arthur Eddington during the 1919 solar eclipse, and thus a global science icon was born. Today, the theories of relativity underpin the accuracy of GPS technology, among other phenomena.

                Even so, Einstein did make one mistake when developing his general theory, which naturally predicted the universe is either expanding or contracting. Einstein didn’t believe this prediction initially, instead holding onto the belief that the universe was a fixed, static entity. To account for, this he factored in a “cosmological constant” to his equation. His later theories directly contracted this idea and asserted that the universe could be in a state of flux. Then astronomer Edwin Hubble deduced that we indeed inhabit an expanding universe. Hubble and Einstein met at the Mount Wilson Observatory near Los Angeles in 1931.
            </p>
        
            <h2>{{[1]}}</h2>
            <p>
                Einstein’s 1905 paper on the matter/energy relationship proposed the equation E=MC²: the energy of a body (E) is equal to the mass (M) of that body times the speed of light squared (C²). This equation suggested that tiny particles of matter could be converted into huge amounts of energy, a discovery that heralded atomic power.

                Famed quantum theorist Max Planck backed up the assertions of Einstein, who thus became a star of the lecture circuit and academia, taking on various positions before becoming director of the Kaiser Wilhelm Institute for Physics (today is known as the Max Planck Institute for Physics) from 1917 to 1933.
            </p>
        {{/with}}
        <h2>Quotes</h2>
        {{#each quotes}}
           <q> {{this}} </q> <br><br> 
        {{/each}}
    </div>

    <div>
        {{#with education.[0]}}
            <h3>Education</h3>
            <ul>
                <li>Degree: {{degree}}</li>
                <li>Field: {{field}}</li>
                <li>Institution: {{institution}}</li>
                <li>Year: {{year}}</li>
            </ul>
        {{/with}}
    </div>

    <div>
        <h1>Awards, Nobels, Invention and publications</h1>
        {{>bio main-title='Publication' title=notable_publications.[0].title year=notable_publications.[0].year description=notable_publications.[0].publisher}}
        
        {{>bio main-title='Publication' title=notable_publications.[1].title year=notable_publications.[1].year description=notable_publications.[1].publisher}}

        {{>bio main-title='Award'  title=awards.[0].title  year=awards.[0].year description=awards.[0].description }}

        {{>bio main-title='Major Discover'  title=major_discoveries.[0].title year=major_discoveries.[0].year description=major_discoveries.[0].description }}

        {{> bio main-title='Contribution'  title=contributions.title  year=contributions.year  description=contributions.description }}
    </div>
</main>