<header>
    {{#with navigation.links}}
        <div class="nav">
            {{#each []}}
                <div class="nav-item">
                    <a href="{{href}}" class="nav-link"> {{text}} </a>
                </div>
            {{/each}}
        </div>
    {{/with}}
</header>

<hr>    

<section>
    <div class="row g-3">
        {{#with formBlock}}
            <div class="col-8">
                <h1> {{header}} </h1>
                <p>
                    {{#with rating}}
                        {{title}}: {{value}}
                    {{/with}}
                </p>

                {{#with actionBlock}}
                    <div class="nav">
                        {{#each tabs}}
                            <div class="nav-tabs">
                                <a href="#" class="nav-link {{#if isActive}} active {{/if}} {{#if isDisabled}} disabled {{/if}}">
                                    {{text}}
                                </a>
                            </div>
                        {{/each}}
                    </div>

                    <hr>

                    <div class="card">
                        <div class="col-5 p-3">
                            {{#with report}}
                                <h4>{{title}}</h4>
                                {{#with button}}
                                    <a href="{{link}}">
                                        <button class="btn btn-secondary"> 
                                            {{text}}
                                        </button>
                                    </a>
                                {{/with}}
                            {{/with}}
                        </div>
                    </div>
                {{/with}}

                <hr>

                {{#with feedbackBlock}}
                    <h2>{{title}}</h2>

                    <div class="p-3">
                        {{#each buttons}}
                            <button class="btn {{#if isWarning}} btn-warning {{else}} {{#if isSuccess}} btn-success {{else}} btn-danger {{/if}} {{/if}}"> {{text}} </button>
                        {{/each}}
                    </div>
                {{/with}}
            </div>

            

            <div class="col-4">
                {{#with goodsInfo}}
                    <div class="card p-3">
                        <img src="{{photo}}" alt="image cap">
                        <h4>{{name}}</h4>
                    </div>
                    
                    <br>

                    <div class="card gy-3 p-3">
                        <h2>{{price}}</h2>

                        <p>{{#if inMarket}} Є в наявності {{/if}}</p>
                        <div>
                            {{#each buttons}}
                                <button class="btn {{#if isPrimary}} btn-primary {{else}} {{#if isSecondary}} btn-secondary {{else}} btn-danger {{/if}} {{/if}}"> {{text}} </button>
                            {{/each}}
                        </div>
                    </div>

                    <br>

                    <div class="card p-3">
                        {{#with seller}}
                            <p>{{title}}: <strong> {{value}} </strong></p>
                        {{/with}}
                    </div>
                {{/with}}
            </div>
        {{/with}}
    </div>    
</section>

<hr>

<section class="card">
    <div class="card p-3">
        {{#with reviewList.[0]}}
            {{#with title}}
                <h3> {{userName}} </h3>
                <p> {{caption}} </p>
                <date> {{date}} </date>
            {{/with}}

            <hr>

            {{#with reviewBody}}
                <div>
                    <p>{{seller.title}}: {{seller.value}}</p>
                    <br>
                    <p>{{rating.title}}: {{rating.value}}</p>
                    <br>
                    <p>{{text.[0]}} <br><br> {{text.[1]}}</p>
                    <p><strong>{{advantages.title}}</strong> <br><br> {{advantages.text}}</p>
                    <br>
                    <p><strong>{{disadvantages.title}}</strong> <br><br> {{disadvantages.text}}</p>
                        <div>
                            {{#each images}}
                                <img src="{{this}}" alt="">
                            {{/each}}
                        </div>  
                </div>

                {{#each coments}}
                    <div class="card  p-2 my-3 ms-5">
                        <div class="card-body">
                            <div class="row">
                                <p class="col-2"><strong>{{userName}}</strong></p>
                                <p class="">{{date}}</p>
                            </div>
                            <p>{{text}}</p>
                        </div>
                    </div>
                {{/each}}
                </div>
            {{/with}}
        {{/with}}
        
        


    </div>
</section>

<section class="card">
    <div class="card p-3">
        {{#with reviewList.[1]}}
            {{#with title}}
                <h3> {{userName}} </h3>
                <p> {{caption}} </p>
                <date> {{date}} </date>
            {{/with}}

            <hr>

            {{#with reviewBody}}
                <div>
                    <p>{{seller.title}}: {{seller.value}}</p>
                    <br>
                    <p>{{rating.title}}: {{rating.value}}</p>
                    <br>
                    <p>{{text.[0]}} <br><br> {{text.[1]}}</p>
                    <p><strong>{{advantages.title}}</strong> <br><br> {{advantages.text}}</p>
                    <br>
                    <p><strong>{{disadvantages.title}}</strong> <br><br> {{disadvantages.text}}</p>
                        <div>
                            {{#each images}}
                                <img src="{{this}}" alt="">
                            {{/each}}
                        </div>  
                </div>
                    
                {{#each coments}}
                    <div class="card  p-2 my-3 ms-5">
                        <div class="card-body">
                            <div class="row">
                                <p class="col-2"><strong>{{userName}}</strong></p>
                                <p class="">{{date}}</p>
                            </div>
                            <p>{{text}}</p>
                        </div>
                    </div>
                {{/each}}
                </div>
            {{/with}}
        {{/with}}
    </div>
</section>

<section class="text-bg-success text-center">
    <h2> {{service.title}} </h2>
    <p> {{service.description}} </p>
    <a href="{{service.buttons.[0].link}}">
        <button class="btn btn-primary">
            {{service.buttons.[0].text}} 
        </button>
    </a>

    <div class="col-12 m-2">
        <footer>
            {{#with footer}}
                <div class="row">
                {{#each []}}
                    <div class="col-2">
                        {{#each []}}
                            <div class="p-2">
                                <a href="{{link}} text-bg-white"> {{text}} </a>
                            </div>
                        {{/each}}
                    </div>
                {{/each}}
                </div>
            {{/with}}
        </footer>
    </div>  
</section>